<div class="container_small-card">

    <div class="container_small-card_content">

        <div class="small-card_image">
            <img 
            src="https://conteudo.imguol.com.br/blogs/107/files/2014/04/stevieray.jpg"
            alt="article-image"
            >
    
        </div>

        <div class="small-card_info">

            <div class="small-card_date">
                <h4>Fevereiro, 17, 2023</h4>
        
            </div>
        
            <div class="small-card_title">
                <h1><a href="#">John Mayer lança nova música</a></h1>
        
        
            </div>

        </div>
            
        
    
    </div>

    <div class="container_small-card_separator">
        <hr/>
    </div>
    
</div>

