.contaienr_articles{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 550px;
}

.articles_others{
    height: 50px;
}

header {
    margin-top: 0.5rem;
}

.container_articles-bottom{
    height: 600px;
    padding-top: 1rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.container_bottom-title > h1{
    padding-top: 1rem;
    background-color: white;
    color: grey;
    display: flex;
    justify-content: center;
}