<div class="container_menu-bar">

    <div class="container_user-menu">
        <div class="container_user-profile-image">
            <img src="https://static.vecteezy.com/system/resources/previews/006/234/867/original/vintage-retro-style-alphabet-letter-g-logo-with-uppercase-font-template-element-vector.jpg" alt="">
        </div>
    
        <div class="container_links">
            <ul>
                <li><a href="">LEARN</a></li>
                <li><a href="">BLOG</a></li>
                <li><a href="">BOOKMARKS</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>

    </div>


    <div class="container_social-media">
        <ul>
            <li><a href={{linkedinLink}}><img src="https://t.ctcdn.com.br/Z2A2JEqtCHWschomk3idD-bI7bA=/600x600/smart/i490027.jpeg" alt="linkedin"></a></li>
            <li><a href={{githubLink}}><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="github"></a></li>
            <li><a href={{youtubeLink}}><img src="https://img.freepik.com/vetores-premium/logo-vermelho-do-youtube-logo-de-midia-social_197792-1803.jpg" alt="youtube"></a></li>
        </ul>
    </div>
</div>